<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale= 1.0">
        <link rel = "stylesheet" type = "text/css" href = "aboutus.css">
    </head>
    <body>

        <div class = "header">
            About our Smartdoor
        </div>
        <div class = "home">
            <a href = "/">Return Home</a>
        </div>
        <div>
            <p> Technology has been growing so fast that any business that fails to utilize it will go extinct faster than anyone could expect.</p>
            <div><p> In this way, we would like to present to you the next breakthrough doors that will change the game like never before. Not only we are planning to increase security of our doors, we want to use technology to improve convenience and quality of life for our clients and users. </p></div>
        </div>
          
        <div class = "f-r-f">
            <p class = "title"> Facial Recognition Feature: </p>
            <div class = "border"><p> Through using Siamese neural networks as our design, we would like to implement a live system that enables the our clients to unlock the door by simply showing their faces to the built-in camera on the doors. Our neural network is trained through using 400 training images which will be quite sufficient for training such an accurate model.</p></div>
        </div>

        <div class = "a-r-f">
            <p class = "title">Audio Recognition Feature:</p>
            <div class = "border"><p></p></div>
        </div>

        <div class = "web-server">
            <p class = "title"> Our webservers:</p>
            <div class = "border"> <p> Through using modern CSS/JS, we have implemented visually-appealing web servers that will attract customers from all sorts of demographics. </div>  
        </div>

        <div class = "no-power">
            <p class = "title">What if there is no Power:</p>
            <div class = "border"><p> We would always want to take good care ofour customers. In this way, we will go beyond imagination to ensure that they are having the experience that they deserve. In case that the power is cut and our systems cannot operate, we will have manual keys along with safe boxes that can be unlocked through passcode/smartphone scanning. </p></div>
            
        </div>

    </body>

</html>