<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale= 1.0">
        <link rel = "stylesheet" type = "text/css" href = "cv.css">
    </head>
    <body>
        <div class = "header">
            My personal Resume
        </div>
        <div class = "home">
            <a href = "/">Return Home</a>
        </div>
        <br><div class = "title">
            Linkedin:
        </div>
        <div class = "content">
            <p> www.linkedin.com/in/kasra-younessi</p>
        </div> 
        <br><div class = "title">
            Personal Statement:
        </div>
        <div class = "content">
            <p>Educational background in machine learning and web serving. Intrigued by cloud infrastructure. Solving complexity is my passion and continuous positive growth is the main principle in my approach with everything.</p>
        </div>
        <br><div class = "title">
            Skills:
        </div>
        <div class = "content">
            <p>AWS, Python, neural network design, MATLAB, HTML/CSS/Javascript, mySQL, Docker, IC design, Marketing, Interpersonal skills</p>
        </div>
        <br><div class = "title">
            Languages:
        </div>
        <div class = "content">
            <p>English, Farsi, Spanish, Turkish</p>
        </div>
        <br><div class = "title">
            Awards:
        </div>
        <div class = "content">
            <p> HARDHACKS 2020 2nd Place </p>
        </div>
          
    </body>
</html>