:root{
    --blue-1: #B0C4DE;
    --blue-2: #4169E1;
    --white: #F8F8FF;
    --black: #000000;
    --background:#FAEBD7;
}
  
body{
    font-size: 1.6em;
}
  
.header{
    background: var(--blue-1);
    padding: 0.5rem;
    text-align: center;
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    font-variant-caps: petite-caps;
    border: solid 2px var(--black); 
}

.home{
    background: var(--background);
    margin-top:0.5rem;
    width:13%;
    border: 2px solid var(--black);
    text-align:center;
}

a{
    text-decoration:none;
    color:var(--black);
}

  
.title{
    text-decoration:underline;
    
}
  
.border{
    border: 2px solid var(--black);
    background: var(--background);
}